footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(75, 157, 211, 0.69);
    color: black;
    text-align: left;
    font-size: 0.8em;

}

.bigtooltip [class$="inner"] {
    max-width: 300px !important;
    width: 350px;
}

.tooltip [class$="inner"] {
    background-color: grey;
    border: 1px solid grey;
}

.tooltip [class$="arrow"] {
    border-top: 5px solid grey !important;

}