MusicBlog-post {
    padding-top: 10px;
}

.Select {
    font-size: 1.2em;
}

.btn {
    font-size: 1.1em;
}

@media only screen and (max-width: 1000px) {
    .Select {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .col-1 {
        padding-left: 13px;
        padding-right: 13px;
    }
}
@media only screen and (max-width: 800px) {
    .Select {
        font-size: 1em;
    }

    .btn {
        font-size: 0.9em;
    }

    .col-1 {
        padding-left: 11px;
        padding-right: 11px;
    }
}

@media only screen and (max-width: 700px) {
    .Select {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.8em;
    }

    .col-1 {
        padding-left: 9px;
        padding-right: 9px;
    }
}

@media only screen and (max-width: 600px) {
    .Select {
        font-size: 0.8em;
    }

    .btn {
        font-size: 0.7em;
    }

    .col-1 {
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media only screen and (max-width: 500px) {
    .Select {
        font-size: 0.7em;
    }

    .btn {
        font-size: 0.6em;
    }

    .col-1 {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .Select {
        font-size: 0.6em;
    }

    .btn {
        font-size: 0.5em;
    }

    .col-1 {
        padding-left: 3px;
        padding-right: 3px;
    }
}
