MusicBlog-post {
    padding-top: 10px;
}

.Select {
    font-size: 1.2em;
}

.btn {
    font-size: 1.1em;
    padding: 0;
}

.btn:hover {
    cursor:pointer
}

img {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

img:hover {
    cursor:pointer
}

@media only screen and (max-width: 1000px) {
    .Select {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .col-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    img {
        height: 45px;
        width: 45px;
    }

}
@media only screen and (max-width: 800px) {
    .Select {
        font-size: 0.9em;
    }

    .btn {
        font-size: 0.9em;
    }

    .col-1 {
        padding-left: 9px;
        padding-right: 9px;
    }

    img {
        height: 42px;
        width: 42px;
    }
}

@media only screen and (max-width: 700px) {
    .Select {
        font-size: 0.8em;
    }

    .btn {
        font-size: 0.8em;
    }

    .col-1 {
        padding-left: 7px;
        padding-right: 7px;
    }

    img {
        height: 39px;
        width: 39px;
    }
}

@media only screen and (max-width: 600px) {
    .Select {
        font-size: 0.7em;
    }

    .btn {
        font-size: 0.7em;
    }

    .col-1 {
        padding-left: 5px;
        padding-right: 5px;
    }

    img {
        height: 36px;
        width: 36px;
    }
}

@media only screen and (max-width: 500px) {
    .Select {
        font-size: 0.6em;
    }

    .btn {
        font-size: 0.6em;
    }

    .col-1 {
        padding-left: 3px;
        padding-right: 3px;
    }

    img {
        height: 32px;
        width: 32px;
    }
}

@media only screen and (max-width: 400px) {
    .Select {
        font-size: 0.5em;
    }

    .btn {
        font-size: 0.5em;
    }

    .col-1 {
        padding-left: 1px;
        padding-right: 1px;
    }

    img {
        height: 28px;
        width: 28px;
    }
}
