

.nav-link {
    display: block;
    padding: .3rem 0.7rem;
    font-size: 1.2em;
}


@media only screen and (max-width: 1024px) {
    .nav-link {
        display: block;
        padding: .3rem 0.6rem;
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 800px) {
    .nav-link {
        display: block;
        padding: .3rem 0.5rem;
        font-size: 1em;
    }
}

@media only screen and (max-width: 700px) {
    .nav-link {
        display: block;
        padding: .3rem 0.4rem;
        font-size: 0.9em;
    }
}


@media only screen and (max-width: 600px) {
    .nav-link {
        display: block;
        padding: .3rem 0.3rem;
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 500px) {
    .nav-link {
        display: block;
        padding: .3rem 0.2rem;
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 400px) {
    .nav-link {
        display: block;
        padding: .3rem 0.1rem;
        font-size: 0.6em;
    }
}
