.subtitle_yt {
    vertical-align: text-top;
    font-size: 2em;

}


@media only screen and (max-width: 1180px) {
    .subtitle_yt {
        font-size: 1.9em;
    }

}

@media only screen and (max-width: 1024px) {
    .subtitle_yt {
        font-size: 1.8em;
    }

}

@media only screen and (max-width: 900px) {
    .subtitle_yt {
        font-size: 1.7em;
    }

}


@media only screen and (max-width: 800px) {
    .subtitle_yt {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 700px) {
    .subtitle_yt {
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 600px) {
    .subtitle_yt {
        font-size: 1.5em;
    }
}


@media only screen and (max-width: 500px) {
    .subtitle_yt {
        font-size: 1.4em;
    }
}


@media only screen and (max-width: 400px) {
    .subtitle_yt {
        font-size: 1.3em;
    }
}


@media only screen and (max-width: 350px) {
    .subtitle_yt {
        font-size: 1.2em;
    }
}




.subtitle_div {
    text-align: center;

}

.link_div {
    float: left

}
